/*
    Author : Kowtha Saketh
    Description: Content stylesheet
*/

@import "../../../../../index.scss";

.content{
    width: 100%;
    overflow: auto;
    text-align: center;
    height: calc(100vh - 65px);
}
.content > div[name="NewNote"]{
    // margin: 0px auto;
    margin-top: 20px !important;

}

@media only screen and (max-width: 768px){
    .content{
        input{
            width: 80%
        }
    }
}

