/*
    Author : Kowtha Saketh
    Description: Common Fundoo scss constants
*/


/*
    Typography
*/

$default: 16px;
$small: 14px;
$tooSmall: 10px;
$headingIcon: 90px;
$large: 18px;
$xlarge: 20px;
$huge: 30px;





/*
    Fonts
*/
$fontFamily: Arial, Helvetica, sans-serif; 