/*
    Author : Kowtha Saketh
    Description: Root Style file
*/


@import "./scss/colors.scss";
@import "./scss/constants.scss";

body {
    margin: 0px;
}

*{
    font-family: $fontFamily;
}


::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(185, 185, 185, 0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*{
    outline: none;
}

@each $key, $value in (green: #4caf50, pink: #e91e63, purple: #651fff, blue: #00b0ff, orange: #ff3d00, merun: #a31545){
    .#{$key}{
        background-color: $value;
        color: $white;
    }
}