/*
    Author : Kowtha Saketh
    Description: Fundoo Buttons style
*/

@import "../../../index.scss";

//default button
.btn{
    border: none;
    border-radius: 4px;
    color: $buttonFgColor;
    font-size: $small;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 12px 28px;
    background-color: $buttonBgColor;
}

//small button
.btn[type="small"]{
    font-size: calc($small - 6);
    padding: 8px 18px;

}