@import "../../../index.scss";
//Scss for button
.btn{
    border: none;
    border-radius: 4px;
    color: $buttonFgColor;
    font-size: $buttonFontSize;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 12px 28px;
    background-color: $buttonBgColor;
}

.btn[type="small"]{
    font-size: calc($buttonFontSize - 6);
    padding: 8px 18px;

}