//Scss for button
.btn{
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 12px 28px;
    background-color: rgb(51, 117, 224);
}