@import "../../../index.scss";

.dashboard{
    height: 100vh;
    width: 100%;

    .border{
        border: 0.5px solid $borderColor;
    }
}


.dashboard > div{
    display: flex;
    width: 100%;
}