@import "../../../index.scss";


.list{
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        padding-top: 10px;
        overflow: auto;
      }
      
      li a {
        display: flex;
        color: $listElementColor;
        padding: 16px 20px;
        text-decoration: none;
        align-items: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      li i{
        vertical-align: bottom;
        font-size: 26px !important;
        margin: 0px 20px;
    }

    li span{
        font-size: $listElementSize;
    }

    li .list-heading{
        margin-left: 20px;
    }
      
    .list-item{
        cursor: pointer;
    }
    .list-item.active {
        background-color: $listActiveBackgroundColor;
      }
      
      .list-item:not(.active):hover {
        background-color: $selectableHover;
      }
}