/*
    Author : Kowtha Saketh
    Description: Fundoo Toast
*/

@import "../../../index.scss";

.toast{
    position: absolute;
    bottom: 5%;
    padding: 10px 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: $toastTextColor;
    border-radius: 6px;
    z-index: 2000;
    animation: fadeIn .2s;
}

@keyframes fadeIn{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: 5%;
    }
}

//success toast

.success{
    background-color: $toastBgColor;
}

//error toast

.error{
    background-color: $toastErrorBgColor;
}