

.toast{
    position: absolute;
    bottom: 5%;
    padding: 10px 20px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    border-radius: 6px;
    z-index: 2000;
    animation: fadeIn .2s;
}

@keyframes fadeIn{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: 5%;
    }
}

.success{
    background-color: #1b1b1b;
}

.error{
    background-color: rgb(218, 74, 74);
}