@import "../../../index.scss";


.empty-container{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 100px;
    i {
        margin: 5px;
        font-size: 90px;
        color: rgba($black, 0.3);
        display: block;
    }
    span{
        color: rgba($black, 0.3);
        font-size: 20px;
    }    
}