/*
    Author : Kowtha Saketh
    Description: Fundoo Card
*/

@import "../../../index.scss";

//Card skelton
.card{
    background: $cardBackground;
    border-radius: 2px;
    display: inline-block;
    border-radius: 10px;
    z-index: 9999 !important;
}

//outlined Card 
.outlined{
    box-shadow: $cardOulinedShadow;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

//interactive Card 
.interactive{
    &:hover{
        box-shadow: $cardInterActiveShadow;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
}

//elevated
.elevated{
    box-shadow: $cardElevatedShadow;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}