.login-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 16px);
    justify-content: center;
    align-items: center;
    .form{
        height: fit-content;
        padding: 50px 35px;
        .header{
            text-align: center;
            p:first-child {
                line-height: 10px;
                font-size : 30px;
                $logoColors: (1: rgb(80, 134, 236), 2: rgb(216, 80, 64), 3: rgb(240, 188, 66), 4: rgb(80, 134, 236), 5: rgb(119, 181, 123), 6: rgb(216, 80, 64));
                @each $index, $color in $logoColors {
                    span:nth-child(#{$index}) {
                    color: #{$color};
                    }
                }
            }
        }

        .footer{
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: space-between;
        }

        .input-group{
            position: relative;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 10px;
            input{
                height: 50px;
                width: 350px;
                border-radius: 5px;
                padding: 0 20px;
                box-sizing: border-box;
                font-size: 18px;
                outline: none;
                border: 1px solid #e4e4e4;
                &:focus{
                    border-color: #4688df;
                    border-width: 2px;
                }
                &:focus ~ span{
                    top: -9px;
                    left: 12px;
                    color: #4688df;
                    padding: 0px 5px;
                    font-size: 14px;
                }
            }



            span{
                position: absolute;
                top: 15px;
                left: 20px;
                transition: 0.2s;
                pointer-events: none;
                background: #fff;
                color: gray
            }
        }

        .active {
            input {
                border-color: #4688df;
                border-width: 2px;
                color: black;
            }

            span {
                top: -9px;
                left: 12px;
                color: #4688df;
                padding: 0px 5px;
                font-size: 14px ;
            }

        }

        .warning {
            input {
                border-color: red !important;
                border-width: 2px;
            }
            input,span {
                color: red !important;
            }
        }
    }
}





