

.login-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 16px);
    justify-content: center;
    align-items: center;
    .form{
        height: fit-content;
        padding: 50px 35px;
        min-height: 400px;
        @media only screen and (max-width: 760px) {
            box-shadow: none;
            padding: 50px 10px;
        }
    
        @media only screen and (min-width: 760px) and (max-width: 1024px) {
            box-shadow: none;
            padding: 50px 10px;
        }
        .header{
            text-align: center;
            p:first-child {
                line-height: 10px;
                font-size : 30px;
                $logoColors: (1: rgb(80, 134, 236), 2: rgb(216, 80, 64), 3: rgb(240, 188, 66), 4: rgb(80, 134, 236), 5: rgb(119, 181, 123), 6: rgb(216, 80, 64));
                @each $index, $color in $logoColors {
                    span:nth-child(#{$index}) {
                    color: #{$color};
                    }
                }
            }
        }

        .footer{
            display: flex;
            margin-top: 30px;
            align-items: center;
            justify-content: space-between;
        }

        .input-group{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0px 0px 28px 0px;
            input{
                height: 50px;
                width: 350px;
                border-radius: 5px;
                padding: 0 20px;
                box-sizing: border-box;
                font-size: 18px;
                outline: none;
                border: 1px solid #e4e4e4;
                &:focus{
                    border-color: #4688df;
                    border-width: 2px;
                }
                &:focus ~ span{
                    top: -9px;
                    left: 12px;
                    color: #4688df;
                    padding: 0px 5px;
                    font-size: 14px;
                }
            }

            span{
                position: absolute;
                top: 15px;
                left: 20px;
                transition: 0.2s;
                pointer-events: none;
                background: #fff;
                color: gray
            }
        }

        .active {
            input {
                border-color: #4688df;
                border-width: 2px;
                color: black;
            }

            span {
                top: -9px;
                left: 12px;
                color: #4688df;
                padding: 0px 5px;
                font-size: 14px;
            }

        }

        .warning {
            input {
                border-color: red !important;
                border-width: 2px;
            }
            span{
                top: -9px;
                left: 12px;
                padding: 0px 5px;
                font-size: 14px;
            }
            input,span {
                color: red !important;
            }
        }


        .row{
            display: flex;
            flex-direction: row;
            margin: 0px 0px 10px 0px;
            @media only screen and (max-width: 760px) {
                flex-direction: column;
                flex-wrap: wrap;
            }
        
            @media only screen and (min-width: 760px) and (max-width: 1024px) {
                flex-direction: column;
                flex-wrap: wrap;
            }
            input{
                font-size: 16px;
                width: 300px;
                margin-left: 10px;
                @media only screen and (max-width: 760px) {
                    margin-left: 0px;
                    width: 350px;
                }
            
                @media only screen and (min-width: 760px) and (max-width: 1024px) {
                    margin-left: 0px;
                    width: 350px;
                }
                padding: 0 20px;
                &:focus ~ span{
                    left: 20px;
                    top: -8px;
                    @media only screen and (max-width: 760px) {
                        left: 10px;
                    }
                
                    @media only screen and (min-width: 760px) and (max-width: 1024px) {
                        left: 10px;
                    }
                    font-size: 14px;
                }
            }

            .active span {
                top: -8px;
                left: 20px;
                @media only screen and (max-width: 760px) {
                    left: 10px;
                }
            
                @media only screen and (min-width: 760px) and (max-width: 1024px) {
                    left: 10px;
                }
                color: #4688df;
                padding: 0px 5px;
                font-size: 14px ;
            }    
    
            .warning span {
                top: -8px;
                left: 20px;
                @media only screen and (max-width: 760px) {
                    left: 10px;
                }
            
                @media only screen and (min-width: 760px) and (max-width: 1024px) {
                    left: 10px;
                }
                color: #4688df;
                padding: 0px 5px;
                font-size: 14px ;
            }    
        }

    }
}





