/*
    Author : Kowtha Saketh
    Description: Sidebar stylesheet
*/

@import "../.../../../../../../index.scss";


.sidebar{
    width: 25%;
    height: calc(100vh - 65px);
    z-index: 1;
    background-color: $white;
    position: relative;

    .modal-item{
        display: flex; 
        justify-content:center;
        align-items:center;
        input{
            margin-left: 10px;
            width: 150px;
            border: none;
            outline: none;
            &:focus{
                border-bottom: 1px solid $grey;
            }
        }
    }
}


.active-sidebar {
    left: 0%;
    animation: open .3s;
}

.inactive-sidebar {
    left: -25%;
    width: 0%;
    animation: close .3s;
}


@keyframes open{
    0%{
        left: -25%;
        width: 0%
    }
    100%{
        left: 0%;
        width: 25%
    }
}


@keyframes close{
    0%{
        left: 0%;
        width: 25%

    }
    100%{
        left: -25%;
        width: 0%;
    }
}

@media only screen and (max-width: 768px){
    .sidebar{
        width: 95%;
        position: absolute;
        height: calc(100vh - 65px);
        box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
    }

    .active-sidebar {
        left: 0px;
        animation: open .3s;
    }
    
    .inactive-sidebar {
        left: -90%;
        width: 0%;
        animation: close .3s;
    }
    
    
    @keyframes open{
        0%{
            left: -90%;
            width: 0%
        }
        100%{
            left: 0%;
            width: 95%
        }
    }
    
    
    @keyframes close{
        0%{
            left: 0%;
            width: 95%
    
        }
        100%{
            left: -90%;
            width: 0%;
        }
    }
}