@import "../../../index.scss";
.notes{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .note{
        position: relative;
        width: 238px;
        margin: 10px;
        padding: 20px;
        color : $grey;
        font-size: $large;
        border: 1px solid $borderColor;
        font-weight: bold;
        border-radius: 5px;
        text-align: left;
    
        .title{
            font-size: $small;
            color: $black;
            display: block;   
        }

        .description{
            display: block;
            max-height: 500px;
            overflow: auto;
            margin-bottom: 15px;
        }

        .collaberator{
            cursor: pointer;
            border-radius: 50%;
            margin: 45px 0px 20px 5px;
            padding: 4px;
            width: 15px;
            font-size: $tooSmall;
            text-align: center;
            display: inline-block;
            // box-shadow: $cardInterActiveShadow;
        }

        .labels{
            display: inline-block;
            border-radius: 10px;
            border: 1px solid rgba($grey, 0.2);
            font-size: $tooSmall;
            position: relative;
            padding: 5px;
            margin: 2px;
            padding-right: 20px;
            i{
                font-size: 12px;
                vertical-align: middle;             
            }
        }

        .reminder{
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
            font-size: $tooSmall;
            border: 1px solid rgba($grey, 0.2);
            position: relative;
            padding: 5px;
            margin: 2px;
            padding-right: 20px;
            margin-bottom: 18px;

            i{
                font-size: 12px;
                vertical-align: middle;             
            }
        }

        .reminder  , .labels  {
            span{
                display: none;
                cursor: pointer;
                position: absolute;
                right: 8px;
            }
            &:hover{
                span{
                    display: inline;
                }
            }
       }
        &:hover{
        box-shadow: $cardInterActiveShadow;
            .actions{
                width: 90%;
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                .color{
                    left: 90px;
                }
                .menu {
                    right: 0px;
                }
                .dropdown{
                    position: absolute;
                    z-index: 1;
                    top: 35px;
                    .color-list{
                        &{
                            left: 90px;
                        }
                        padding: 10px;
                        background-color: $white;
                        display: flex;
                        width: 90px;
                        flex-wrap: wrap;
                        div{
                            min-width: 30px;
                            min-height: 30px;
                            border-radius: 50%;
                            margin: 5px;
                            cursor: pointer;
                        }
                    }

                    .more-menu{
                        width: auto;
                        padding: 10px;
                        font-size: $tooSmall;
                        font-weight:100;
                        li .list-item{
                            border-radius: 5px;
                            padding: 10px;
                        }
                    }
                }
                .material-icons-outlined{
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 50%;
                    &:hover{
                        background-color: $selectableHover;
                    }
                }
            }

            .pin{
                display: block;
            }
        }

        .pin{
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
        }

        .actions{
            position: absolute;
            bottom: 5px;
            display: none;
        }
    }
}

.grid-row{
    flex-direction: row;
}

.grid-column{
    flex-direction: column;
    .note{
        width: 500px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px){
    .grid-row, .grid-column{
        .note{
            width: 100%;
        }
    }
}