@import "../../../index.scss";

.notes{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;

    .note{
        position: relative;
        width: 238px;
        min-height: 104px;
        margin: 10px;
        z-index: 0;
        padding: 20px;
        color : $grey;
        font-size: $large;
        border: 1px solid $borderColor;
        font-weight: bold;
        border-radius: 5px;
        text-align: left;
    
        .title{
            font-size: $small;
            color: $black;
            display: block;   
        }

        .description{
            display: block;
            max-height: 500px;
            overflow: auto;
        }

        .collaberator{
            border-radius: 50%;
            margin: 45px 0px 20px 5px;
            padding: 4px;
            width: 15px;
            font-size: $tooSmall;
            text-align: center;
            display: inline-block;
            box-shadow: $cardInterActiveShadow;
        }

        .reminder{
            border-radius: 10px;
            font-size: $tooSmall;
            position: relative;
            box-shadow: $cardInterActiveShadow;
            padding: 4px;
            margin: 5px;
            i{
                font-size: 12px;
                vertical-align: middle;             
            }
        }

        &:hover{
        box-shadow: $cardInterActiveShadow;
            .actions{
                width: 90%;
                display: flex;
                justify-content: space-between;
            }

            .pin{
                display: block;
            }
            .material-icons-outlined{
                cursor: pointer;
                padding: 5px;
                border-radius: 50%;
                &:hover{
                    background-color: $selectableHover;
                }
            }
        }

        .pin{
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
        }

        .actions{
            position: absolute;
            bottom: 5px;
            display: none;
        }
    }
}

.grid-row{
    flex-direction: row;
}

.grid-column{
    flex-direction: column;
    .note{
        width: 500px;
        margin: 0 auto;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px){
    .grid-row, .grid-column{
        .note{
            width: 100%;
        }
    }
}