/*
    Author : Kowtha Saketh
    Description: Login,  Signup, Reset stylesheet
*/

@import "../../../index.scss";

@mixin span-focus {
	top: -9px;
	left: 12px;
	padding: 0px 5px;
	font-size: $small;
}

@mixin active-warning-span {
	span {
		left: 20px;
		top: -8px;
		padding: 0px 5px;
	}
}

.login-container {
	display: flex;
	width: 100%;
	flex-flow: column;
	height: calc(100vh - 16px);
	justify-content: center;
	align-items: center;
	.form {
		padding: 50px 35px;
		min-height: 400px;
		.header {
			text-align: center;
			p {
				&:first-child {
					line-height: 10px;
					font-size: $huge;
                    @each $index, $color in $logoColors {        
						span:nth-child(#{$index}){
							color: $color
						}
					}
				}
			}
		}
		.footer {
			display: flex;
			margin-top: 30px;
			align-items: center;
			justify-content: space-between;
		}
		.input-group {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 0px 0px 28px 0px;
			.input-error-msg{
				margin-top: 60px; 
				font-size: $small;
				color: $loginErrorColor;
			}
			input {
				height: 50px;
				width: 350px;
				border-radius: 5px;
				padding: 0 20px;
				box-sizing: border-box;
				font-size: $large;
				outline: none;
				border: 1px solid $loginInputDefaultBorderColor;
				&:focus {
					border-color: $loginInputActiveColor;
					border-width: 2px;
					~ {
						span {
							@include span-focus();
							color: $loginInputActiveColor;
						}
					}
				}
			}
			span {
				position: absolute;
				top: 15px;
				left: 20px;
				transition: 0.2s;
				pointer-events: none;
				background: $loginLabelBackground;
				color: $loginLabelColor;
			}
		}
		.active {
			input {
				border-color: $loginInputActiveColor;
				border-width: 2px;
				color: $loginInputColor;
			}
			span {
				@include span-focus();
				color: $loginInputActiveColor;
			}
		}
		.warning {
			input {
				border-color: $loginErrorColor !important;
				border-width: 2px;
				color: $loginErrorColor !important;
			}
			span {
				@include span-focus();
				color: $loginErrorColor !important;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			margin: 0px 0px 10px 0px;
			input {
				font-size: $default;
				width: 300px;
				margin-left: 10px;
				padding: 0 20px;
				&:focus {
					~ {
						span {
							left: 20px;
							top: -8px;
						}
					}
				}
			}
			.active, .warning {
				@include active-warning-span();
			}
		}
	}
	.login-users-list{
		width: 350px;
		li{
			border-bottom: 1px solid $loginInputDefaultBorderColor;
			cursor: pointer;
			a{
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}
		}
	}
}
@media only screen and (max-width: 760px) {
	@mixin active-warning-span {
		span {
			left: 10px;
			font-size: $small;
		}
	}
	.login-container {
		.form {
			box-shadow: none;
			padding: 50px 10px;
			.row {
				flex-direction: column;
				flex-wrap: wrap;
				input {
					margin-left: 0px;
					width: 350px;
					&:focus {
						~ {
							span {
								left: 10px;
								font-size: $small;
							}
						}
					}
				}
				.active, .warning {
					@include active-warning-span();
				}
			}
		}
	}
}
