/*
    Author : Kowtha Saketh
    Description: Header stylesheet
*/

@import "../../../../../index.scss";

.navbar{
    display: flex;
    height: 60px;
    top: 0px;
    left: 0px;
    position: sticky;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    background-color: $white;
    z-index: 9999;
    .left, .right, .center{
        color: #5f6368;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        div{
            img{
                width: 30px !important;
                height: 28px !important;
            }
        }
    }

    .nav-icon{
        border-radius: 50%;
        z-index: 9999;
        display: inline-block;
        padding: 12px;
        overflow: hidden;
        vertical-align: middle;
        object-fit: cover;
        cursor: pointer;
        height: 24px;
        width: 24px;
        -moz-user-select: none;
        flex: 0 0 auto;
        &:hover{
            background-color: #3c404314;
        }
    }

    .profile{
        padding: 8px;
        height: 16px;
        width: 16px;
        &:hover{
            color: $black;
        }
    }

    @each $key, $value in (green: #4caf50, pink: #e91e63, purple: #651fff, blue: #00b0ff, orange: #ff3d00, merun: #a31545){
        .#{$key}{
            background-color: $value;
            color: $white;
        }
    }

    .text{
        font-size: 16px; 
        text-align: center;
    }

    .left{
        min-width: 13%;
        strong{
            margin-left: 10px;
        }
    }
    .center{
        width: 60%;
            input{
                width: 80%;
                margin: 0;
                border-radius: 5px;
                border-style: none;
                font-size: 18px;
                padding: 10px;
                padding-left: 40px;
                outline: none;
                color: #5f6368;
                background-color: #3c404314;
                &:focus{
                    background-color: #ffffff;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
                }
            }
            .search-icon{
                position: absolute; 
            }       
    }
    .right{
        // width: 20%;
    }
    .account-card{
        min-height: 100px;
        min-width: 250px;
        position: absolute;
        right: 5px;
        top: 50px;
        padding: 10px;
        .btn{
            background-color: rgba($black, 0.05);
            color: #5f6368;
            border: 1px solid rgba($black, 0.1);
        }
        div{
            text-align: center;
        }
        div:first-child{
            display: flex;
            align-items: center;
            padding: 10px; 
            label{
                text-align: left;
                margin-left: 10px;
            }
        }
        .card{
            height: 100%;
            width: fit-content;
        }
        .profile{
            width: 24px;
            height: 24px;
            padding: 12px;
            font-size: 22px;
        }
    }
}


@media only screen and (max-width: 768px){
    .navbar{
        .center{
            display: none;
        }
        .left{
            div{
                img{
                    display: none;
                }
            }
        }

        .account-card{
            width: 90%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 70px;
            div{
                text-align: center;
            }
            div:first-child{
                display: flex;
                flex-direction: column;
                padding: 10px; 
                label{
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
}