@import "../../../index.scss";

//link common
.link{
    color: $linkColor;
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px;
    font-size: $linkSize;
    font-weight: $linkDecoration;
    &:active, &:focus{
        background-color: $linkHover;
    }
}

//small links
.small{
    padding: 1px;
}