/*
    Author : Kowtha Saketh
    Description: Fundoo Links
*/

@import "../../../index.scss";

//default link
.link{
    color: $linkColor;
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px;
    font-size: $small;
    font-weight: $linkDecoration;
    &:active, &:focus{
        background-color: $linkHover;
    }
}

//small links
.small{
    padding: 1px;
}