
.link{
    color: #4688df;
    text-transform: capitalize;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    &:active, &:focus{
        background-color: #cadbf1;
    }
}

.small{
    padding: 1px;
}